<configuration>

  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>timestamp</fieldName>
          <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
        </timestamp>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <pattern>
          <pattern>%level</pattern>
          <fieldName>level</fieldName>
        </pattern>
        <threadName>
          <fieldName>thread</fieldName>
        </threadName>
        <mdc/>
        <message>
          <fieldName>message</fieldName>
        </message>
        <stackTrace>
          <fieldName>stack_trace</fieldName>
        </stackTrace>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE" />
  </root>
</configuration>
